PUBLIC_GISCUS_REPO="IAmRiteshKoushik/portfolio"
PUBLIC_GISCUS_REPO_ID=""
PUBLIC_GISCUS_CATEGORY="Blog Comments"
PUBLIC_GISCUS_CATEGORY_ID=""
PUBLIC_GISCUS_MAPPING="pathname"
PUBLIC_GISCUS_STRICT="0"
PUBLIC_GISCUS_REACTIONS_ENABLED="1"
PUBLIC_GISCUS_INPUT_POSITION="bottom"
PUBLIC_GISCUS_LANG="en"
PUBLIC_GISCUS_LIGHT_THEME="light"
PUBLIC_GISCUS_DARK_THEME="dark_dimmed"
