---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import Link from "@components/Link.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="footer-inner">
      <div>
        &copy; 2026 {SITE.NAME}
      </div>
      <div class="footer-links">
        <Link href="/rss.xml" underline={false}>RSS</Link>
      </div>
    </div>
  </Container>
</footer>
